{% extends 'base.html.twig' %}

{% block title %}Editing an Existing Post{% endblock %}

{% block bread %}
→ <a href="{{ path('app_micro_post_show', {post: post.id}) }}">Post</a> → Edit
{% endblock %}

{% block body %}
  {{ include ('micro_post/_form.html.twig') }}
{% endblock %}
