{% extends 'base.html.twig' %}

{% block title %}All Posts{% endblock %}

{% block body %}
<div>
  {% if posts|length > 0 %}
    {% for post in posts %}
      <div>
        <a href="{{ path('app_micro_post_show', { post: post.id }) }}">
            {{ post.title }}
        </a>
      </div>
    {% endfor %}
  {% else %}
    There's nothing here yet!
  {% endif %}
</div>
{% endblock %}
