{% extends 'base.html.twig' %}

{% block title %}Post - {{post.title}}{% endblock %}

{% block body %}
  <h3>{{post.title}}</h3>
  <div>{{post.text}}</div>
  <div style="color: grey;">
  {% if date(post.created) < date('-1year') %}
    Older than 1 year
  {% else %}
    {{ post.created|date('d/m/Y') }}
  {% endif %}
  </div>
{% endblock %}
