{% extends 'base.html.twig' %}

{% block bread %}
→ Login
{% endblock %}

{% block body %}
<form action="{{ path('app_login') }}" method="POST">
    <div>
        <label 
            class="block text-sm text-gray-700 dark:text-gray-300 font-medium">Email</label>
        <input 
            type="text" 
            name="_username" 
            value="{{ lastUsername }}" 
            class="block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2" />
    </div>

    <div>
        <label 
            class="block text-sm text-gray-700 dark:text-gray-300 font-medium">Password</label>
        <input type="password" 
            name="_password" 
            class="block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2" />
    </div>

    <input type="hidden" name="_target_path" 
        value="/micro-post" />

    <div>
        <button type="submit" 
            class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Login</button>
    </div>
</form>

<div class="mt-2 text-center text-gray-600 dark:text-gray-400">
    Don't have an account? <a href="{{ path('app_register') }}">Register here</a>
</div>
{% endblock %}