{% extends 'base.html.twig' %}

{% block title %}Profile Settings{% endblock %}

{% block bread %}
→ Profile Settings
{% endblock %}

{% block body %}
    {{ include('settings_profile/_settings_profile_tabs.html.twig') }}
    
    {{ form_start(form) }}
    {{ include ('settings_profile/_profile_form.html.twig') }}

    <div>
        <button type="submit" 
            class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Save Settings</button>
    </div>
    {{ form_end(form) }}
{% endblock %}