{% extends 'base.html.twig' %}

{% block body %}
<div>
  {% if messages|length > 0 %}
    {% for message in messages|slice(0, limit) %}
      <div>{{message.message}}</div>
      {{ include('hello/_message.html.twig', {message: message}) }}
    {% endfor %}
  {% else %}
    There's nothing here yet!
  {% endif %}
</div>
{% endblock %}

{% block title %}I've changed the title!{% endblock %}