{% extends 'base.html.twig' %}

{% block body %}
<div>The current message is:</div>
<div>
  <div>{{message.message}}</div>
   {{ include('hello/_message.html.twig', {message: message}) }}
</div>
{% endblock %}
